.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 100%;
  padding: 10%; /* Reduce the padding */
  max-width: 100%; /* Increase the max-width */
  overflow: relative;
}
  .backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .textBox {
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    padding: 20px;
    max-width: 50%;
    text-align: center;
    font-size: 14px;
    line-height: 1.5; /* Increase the line height */
  }
  
  @media only screen and (max-width: 768px) {
    .textBox {
      position: relative;
      top: initial;
      left: initial;
      margin-bottom: 20px;
      max-width: 80%;
      font-size: 12px;
      line-height: 1.2; /* Increase the line height */
    }
  }
  

  .heading1 {
    position: center;
    background: rgba(102, 101, 114, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    padding: 20px;
    max-width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 1.5; /* Increase the line height */
  }